body {
    font-family: Montserrat;
    background-color:#F8F8F8;
    font-size: 16px;
}

.createTopic {
    padding: 20px;
}

.createTopic #text {
    width: 100%;
    height: 40px;
    padding: 0;
}

.createTopic #textarea {
    border-radius: 8px;
    width: 100%;
    padding: 0;
    height: 200px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border: 1px solid #98A2B3;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    resize: none;
}

#game {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.game {
    display: flex;
    align-items: center;
}

h1 {
   margin-bottom: 50px;
}