.header {
    padding: 15px;
    font-size: 16px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-bottom: 2px solid rgb(0 0 0 / 0.2);
    display: flex;
    z-index: 1;
    position: relative;
}

.header-right {
    align-self: center;
    margin-left: auto;
    padding: 10px;
}

.header-right a {
    text-align: center;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

a.login:hover, a.logout:hover {
    background-color: #ffd9009a;
    color: black;
    border-radius: 4px;
}


.firstdivgame{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.imageompany{
    margin-left: 1rem;
}

.imagereview{
    margin-left: 1rem;
}


.seconddivgame{
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-between;
    text-align: left;
}


.seconddiv{
    max-width: 1060px;
    margin-left: 15rem;
}

.img-container {
    display: inline-block;
    position: relative;
}

.h2title{
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    font-size: 60px;
    margin-block-start: 0.22em;
    margin-block-end: 0.22em;
}

.stargame {
    font-size: 20px; /* Increase the font size to make the stars bigger */
    color: #ccc;
    cursor: pointer;
    margin-right:10px; /* Add margin-right for spacing between stars */
  }

  .stargame:last-child {
    margin-right: 0; /* Remove margin-right from the last star */
  }
  
  .stargame.filled {
    color: #f7bf16;
  }

.whereplay h3{
    margin-block-start: 1rem;
}

.positioning{
    position: absolute;
    margin-left: 710px;
    margin-top: 280px;
    padding: 4px;   
    z-index: 1;
}

.positionimggame{
    position: absolute;
    left: 160px;
    bottom: -120px;
    z-index: 1;
}

.texttitle
{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color: white;
    text-align: left;
    color: white;
    margin-block-start: 0em;
    margin-block-end: 0;
}

.texttitle1
{
    font-style: italic;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: left;
    color: white;
    margin: 0;
    margin-block-start: 0;
}

.textdata
{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: left;
    color: white;
    margin: 0;
    margin-block-start: 0;
}

.divgame{
    margin-top:110px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom:40px;
    margin-left: 10rem;
}

.gameimgback{
    min-width: 2050px;
    object-fit: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    border: 3px solid black;
  
}


.imggame{
    border:5px solid #e7e7e7;
    border-radius: 4%;
    display: block;
    margin: auto;
    object-fit: cover;
}


.gamebio{
    padding-top:0.1rem;
}
.pmargin0{
    margin: 0;
    padding: 0;
}

.pmargin1{
    margin: auto;
    line-break: anywhere;
    text-align: left;
    font-size: 17px;
    padding-bottom:0;
}


.rectanglecomments{
    margin-bottom: 10px;
    width: 1060px;
    background-color: #444C57;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
}

.seconddivimage {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 2rem;
    align-items: center;
}

.divdescription{
    margin-top: 1rem;
    display: flex;
    font-size: 13px;
    justify-content: center;
}

.rectanglecomments h3{
    color: white;
    margin-block-end: 0.5em;
    margin-block-start: 0.7em;
    text-align: left;
    font-weight: 500;
    margin-left: 1rem;
}

.rectanglecomments p{
    color: white;
    text-align: left;
    margin-left: 1rem;
}

.whereplay{
    display: flex;
    font-size: 16px;
    margin-top: 1rem;
}

@media only screen and  (max-width: 1350px)
{
    .firstdivgame{
        flex-direction: column;
     
    }
    .seconddiv{
        margin-left: 0;
        max-width: 100%;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .reviewbutton{
        margin: auto;
        width: 50%;
    }
    .rectangles{
        width: 100%;
    }
    .rectanglecomments{
        width: 100%;
    }
  
    .graph{
        margin: auto;
        align-items: center;
    }
 
    .positioning{
        position: relative;
        margin-left:0;
        margin-top: 0px;
        z-index: 1;
        text-align: center;
    }
    .img-container{
        display: block;
    }
    .imagebackground{
        position: absolute;
        left:0;
        bottom: 0;
        right: 0;
        top: 0px;
    }
    .divgame{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0;
    }
    .positionimggame{
        position:relative;
        z-index: 1;
        left: 0;
        bottom: 0;
    }
    .imagebackground{
        display: none;
    }
    .h2title{
        color: #000000;
    }
    .texttitle{
        color: black;
        text-align: center;
    }
    .textdata{
        color: black;
    }
    .texttitle1{
        color: #000000;   
    }
    
    .buttonsclass{
        width: 50%;
    }
   
}

.platforms {
    display: flex;
    padding-left: 1rem;
    max-width:700px;
}


.boldtext{
    font-weight:bold;
    color: #000000;
}

.reviewbutton{
    display: flex;
    padding-top: 0.5rem;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
    line-height: 24px;
}

.graph{
    flex-direction: column;
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.pgraph{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 0.3rem;
    text-align: left;
}

.buttonsclass {
    padding: 5px 20px;
    width: 100%;
}

.buttonsclassreview {
    padding: 5px 20px;
    width: 90%;
}
.reviewbutton input[type="image"]{
    margin-left: 0.4rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.ppic {
    align-self: center;
    border-radius: 50%;
    margin-left: 10px;
}



